body
{
	background-color:C1FFFF;
	
}

#corpo
{
background-color:white;
margin: 0 200px 0 200px

}
#logo
{
margin:0 0 0 0px; 
}

#menu
{
	padding: 20px 0 0 0;
	float: left ;
	text-align: left;
}

li
 {
list-style-position: inside;
display:block;
width:150px;
padding:4px 2px 4px 10px;
font-size:1.1em;
font-weight:bold;
background-color:white;
color:red;
border:1px solid #ffffff;
float: left ;
text-align: left;
}


.immagine
{

 width:800px;
height:300px;
padding:20px 0 20px 0;

 
} 

#immagine

{
	margin: 0 20px 0 20px;
	padding: 20px 20px 20px 20px;
	float: center ;
	text-align: center;
}

